<ion-content>
  <ion-card>
    <ion-card-header>
     <ion-card-title>Contact Options</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Email:
      <ion-button color="success" fill="clear" size="full">Hospital@Hospital.com</ion-button>
      Phone number:
      <ion-button color="success" fill="clear" size="full">+351 xxx xxx xxx</ion-button>
      Walk in schedule:
      <ion-button color="success" fill="clear" size="full">From 9:00 AM to 10:00 PM</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
